/**************** reset ****************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
}

ul{
    list-style:none
}

a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button{
    cursor: pointer;
}

section{
    background-color: #fff;
}



/**************** nav ****************/

.global-nav{
    width: 100vw;
    height: 44px;
    /* background-color: #161617CC; */
    background-color: rgba(22, 22, 23, 0.9);
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.nav-content{
    width: 1000px;   
    /* 임시 */
}

.dropdown-menu{
    display: none;
    position : fixed;
    width: 100vw;
    height: 400px;
    background-color: #161617CC;
    left: 0;
    top: -44px;
    transition: all 0.75s;
    z-index: 6;
} 

.nav-list-item:hover .dropdown-menu{
    display: block;
    max-height: 200px;
    top: 44px;
}

.nav-list{
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list li a, .nav-list li span{
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
}


.nav-list-item a{
    font-family: "PT Sans", sans-serif;
    font-weight: 100;
    font-size: 12px;
}

.nav-list li span{
    font-size: 22px;
    font-weight: 200;
}


.logo img{
    width: 13px;
    height: 16px;
}

/**************** main ****************/

.main{
    background-color: #161617;
    padding-top: 44px;
}

.heroes{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    border-bottom: 12px solid #fff;
}


.heroes-iphone15pro-wrap, .heroes-iphone15-wrap, .heroes-macbookair-wrap{
    width: 100vw;
}

.heroes-iphone15pro-img, .heroes-iphone15-img, .heroes-macbookair-img{
    width: 100%;
    max-width: 2400px;
    height: 692px;
    width: 100%;
    object-fit: cover;
}

.main-primary-btn, .main-secondary-btn{
    padding: 11px 21px;
    border-radius: 24px;
    font-size: 17px;
}

.main-primary-btn{
    background-color: #0071e3;
    color: rgba(255,255,255,0.9);
    border: 0;
    margin-right: 10px;
    min-width: 28px;
}

.main-secondary-btn{
    background-color: rgba(0, 0, 0, 0);
    color: #0071e3;
    border: 1px solid #0071e3;
}

.main-secondary-btn:hover{
    background-color: #0071e3;
    color: rgba(255,255,255,0.9);
}


/**************** main top iphone15 pro ****************/
.heroes-iphone15pro-wrap{
    position: relative;
}


.heroes-iphone15pro-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate( -50%,-50% );
    color: rgba(255,255,255,0.9);
    text-align: center;
}

.heroes-iphone15pro-title, .heroes-iphone15pro-title p{
    font-size: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.heroes-iphone15pro-title p{
    display: inline;
    letter-spacing: -4px;
}

.heroes-iphone15pro-content{
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
    letter-spacing: -0.5px;
}


/**************** main top iphone15 ****************/

.heroes-iphone15-wrap{
    position: relative;
    background-image: url("https://www.apple.com/v/home/bm/images/heroes/iphone-15/hero_iphone15_announce__uuemlcwczn6u_largetall.jpg");
    width: 2560;
    height: 692px;
    background-size: 2560px 736px;
    overflow: hidden;
    background-repeat: no-repeat;
} 
.heroes-iphone15-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate( -50%,-50% );
    color: #000;
    text-align: center;
}

.heroes-iphone15-title{
    font-size: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.heroes-iphone15-title p{
    display: inline;
    letter-spacing: -5px;
}

.heroes-iphone15-content{
    font-size: 28px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

/**************** main macbookair ****************/

.heroes-macbookair-wrap{
    position: relative;
    /* background-image: url("https://www.apple.com/v/home/bm/images/heroes/macbook-air-m3/hero_macbook_air_m3__cp4t7pn8zqaa_largetall.jpg");
    width: 3008px;
    height: 736px;
    /* background-size: 3008px 736px;
    overflow: hidden;
    background-repeat: no-repeat;
    left: calc(30% + 0px);
    transform: translateX(-50%); */
}

.heroes-macbookair-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate( -50%,-50% );
    color: #000;
    text-align: center;
}

.heroes-macbookair-title{
    font-size: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.heroes-macbookair-title p{
    display: inline;
    letter-spacing: -5px;
}

.heroes-macbookair-content{
    font-size: 28px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}


/**************** promotions common ****************/

.promotions{
    background-color: #fff;
}

.main-promotions{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    background-color: #fff;
    position: relative;  
    /* left: calc();   */
    
    padding: 0 12px 12px 12px;
    /* 임시 */
}

.promo-wrap{
    width: 100%;
    height: 580px;
    overflow: hidden;
    position: relative;
}

.promotion-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promo-text{
    position: absolute;
    left: 50%;
    top: 50%;
}

.promo-text img{
    margin-bottom: 4px;
}

.promo-btn-wrap{
    margin-top: 17px;
}

.promo-btn-wrap button{
    padding: 10px 15px;
    font-size: 14px;
    letter-spacing: -0.2px;
}

/**************** promotions wwdc24 ****************/

.promo-wwdc24-text{
    left: 50%;
    top: 80%;
    width: 100%;
    transform: translate( -50%, -50%);
    text-align: center;
}

.promo-wwdc24-text p{
    font-size: 20px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.8);
}

/**************** promotions apple vision ****************/

.promo-vision-text{
    left: 50%;
    top: 80%;
    transform: translate( -50%, -50%);
    text-align: center;
    width: 60%;
}

.promo-apple-vision-logo{
    width: 40%;
    display: inline;
}

.promo-vision-text p{
    font-size: 21px;
    letter-spacing: -0.5px;
    color: #1d1d1f;
}

/**************** promotions apple watch ****************/

.promo-watch-text{
    left: 50%;
    top: 22%;
    transform: translate( -50%, -50%);
    text-align: center;
}

.promo-apple-watch-logo{
    width: 60%;
    display: inline;
}

.promo-watch-text p{
    font-size: 21px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: -0.5px;
}


/**************** promotions ipad  ****************/
.promo-ipad-text{
    left: 50%;
    top: 18%;
    transform: translate( -50%, -50%);
    text-align: center;
}

.promo-ipad-text h3{
    font-size: 40px;
}

.promo-ipad-text p{
    font-size: 21px;
    color: #1d1d1f;
    letter-spacing: -0.5px;
}


/**************** promotions apple card ****************/
.promo-card-text{
    left: 50%;
    top: 22%;
    transform: translate( -50%, -50%);
    text-align: center;
}

.promo-apple-card-logo{
    width: 40%;
    display: inline;
}

.promo-card-text p{
    font-size: 21px;
    color: #1d1d1f;
    letter-spacing: -0.8px;
}

/**************** promotions trade in ****************/
.promo-tradein-text{
    left: 50%;
    top: 22%;
    transform: translate( -50%, -50%);
    text-align: center;
}

.promo-iphone-tradein-logo{
    width: 50%;
    display: inline;
}

.promo-tradein-text p{
    font-size: 21px;
    color: #1d1d1f;
    letter-spacing: -0.8px;
}

.promo-tradein-text button{
    letter-spacing: -0.1px;
}



/**************** tv-plus-gallery ****************/
.slide-box{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.slide-list{
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slide-item{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%; 
    /* 한개의 li가 한 페이지가 되는  */
    transition: all .35s;
}

.slide-item img{
    max-width: 100%;
}


/**************** footer ****************/

footer{
    background-color: #f5f5f7;
}

.footer-content{
    width: 980px;
    margin: 0 auto;
}

.footer-notes{
    padding: 17px 0 11px 0;
    background-color: #f5f5f7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.footer-notes p{
    padding-bottom: 10px;
    font-size: 12px;
    color: #0000008F;
}

.directory{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.directory h3, .directory ul li{
    font-size: 12px;
    margin: 0 20px 9.6px 0;
    color: #000000B8;
}

.directory ul li{
    font-size: 12px;
}

.footer-more-info{
    padding: 37px 0 11px 0;
    background-color: #f5f5f7;;
}

.footer-shop{
    padding-bottom: 19px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    font-size: 12px;
    color: #0000008F;
}

.copyright{
    padding-top: 11px;
    font-size: 12px;
    color: #0000008F;
}