/**************** reset ****************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    overflow-x: hidden;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(1, 100%);
}

ul{
    list-style:none
}

a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button{
    cursor: pointer;
}


/**************** nav ****************/
.global-nav{
    width: 100vw;
    height: 44px;
    background-color: #161617CC;
    background-color: rgba(22, 22, 23, 0.9);
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.nav-content{
    width: 1000px;   
}

.dropdown-menu{
    display: none;
    position : fixed;
    width: 100vw;
    height: 400px;
    background-color: #161617CC;
    left: 0;
    top: -44px;
    transition: all 0.75s;
    z-index: 6;
} 

.nav-list-item:hover .dropdown-menu{
    display: block;
    max-height: 200px;
    top: 44px;
}

.nav-list{
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list li a, .nav-list li span{
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
}


.nav-list-item a{
    font-family: "PT Sans", sans-serif;
    font-weight: 100;
    font-size: 12px;
}

.nav-list li span{
    font-size: 22px;
    font-weight: 200;
}

.logo img{
    width: 13px;
    height: 16px;
}

/**************** main ****************/

.main{
    background-color: #161617;
    padding-top: 44px;
    /* width: 2560px; */
    margin: 0 auto;
}

.heroes{
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(1, 2560px);
    gap: 8px;
    border-bottom: 12px solid #fff;
}
.heroes-iphone15pro-wrap-test{
    width: 2560px;
    height: 692px;    
}

/* img div 따로 만듦 */

.heroes-iphone15pro-wrap{
    background-image: url("https://www.apple.com/v/home/bm/images/heroes/iphone-15-pro/hero_iphone15pro__i70z9oz3hj2i_largetall.jpg");
    width: 2560px;
    height: 692px;
    /* background-size: 3006px 700px; */
    background-size: 3108px 736px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 100%; 
}


/**************** footer ****************/

footer{
    background-color: #f5f5f7;
}